.about-page{
    width: 80%;
    margin: auto;
}

.about{
    background-color: rgb(240, 240, 240);;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.about img{
    width: 200px;
}

.Angelina img{
    float: left;
    padding-right: 20px;
}

