.about-page {
  width: 80%;
  margin: auto;
}

.about {
  background-color: rgb(240, 240, 240);
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.about img {
  width: 200px;
}

.Angelina img {
  float: left;
  padding-right: 20px;
}

.Teyanna img {
  float: right;
  padding-left: 20px;
}
.about p {
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .Angelina img {
    padding-right: 0px;
  }

  .Teyanna img {
    order: -1;
    padding-left: 0px;
  }
  .about img {
    padding-bottom: 5px;
  }
}


svg {
  position: center;
  width: 30px;
  color: #4d648d;
}
svg:hover {
  transform: scale(1.2);
  color: #283655;

}