.video-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  background: rgb(252, 249, 249);
  color: rgb(5, 5, 5);
}
.comments h4 {
  text-align: center;
}

.comment-list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0 0 50px 0;
}
.comment-list > li {
  margin: 0 0 20px 0;
  background: rgb(252, 249, 249);
  padding: 20px;
}

.comment-user {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.comment-user-avatar {
  width: 40px;
  margin-right: 10px;
}

.comment-username {
  margin-right: 5px;
  font-weight: bold;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}

.comment-text {
  color: #222;
  padding: 20px;
}
.comment-text :last-child {
  margin: 0;
}
