.video-page {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(252, 249, 249);
}

.video{
  text-align: center;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  color: rgb(5, 5, 5);
  font-weight: 700;
}

.h1 {
  margin: 20px;
  color: rgb(53, 53, 53);
}
.comments h4 {
  text-align: center;
}

.comment-form input {
  margin-left: 5px;
  margin-right: 5px;
}

.comment-list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0 0 50px 0;
  width: 80%;
}

.comment-list > li {
  margin: 0 0 20px 0;
  padding: 20px;
  border-bottom: 1px solid darkgray;
}

@media screen and (max-width: 700px){
  .video{
    width: 80%;
  }

  .video-player{
    width: 100%;
    max-height: 290px;
  }
}

@media screen and (max-width: 580px) {
  .comment-form {
    display: flex;
    flex-direction: column;    
  }

  .comment-form input {
    margin-bottom: 5px;
  }

  .video-player{
    width: 100%;
    max-height: 200px;
  }

}